# {{ story.title }}

**Atmósfera:** {{ story.atmosfera }}  
**Protagonistas:** {{ story.protagonistas }}  
**Relator:** {{ story.relator }}

---

## Sinopsis
{{ story.sinopsis }}

---

{% for act in acts %}
## Acto {{ act.number }}
{{ act.content }}

---
{% endfor %}

*Relato generado automáticamente por NarrativeForge API.*  
*Fecha de generación: {{ story.created_at.strftime('%d/%m/%Y') }}*
